/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/06/2016, 10:16:27 PM
    Author     : CESAR
*/
*{
    margin:0 auto;
}
body{
    background: #2f313d;
    color: #46485c;
}
h1{
    text-align: center;
    color:#ccc !important;
    font-weight: bold !important;
}
.container{
    border: 1px solid #46b8da;
    background: rgba(0,0,0,0.2);
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07);
}
tbody{
    border-radius: 0.5em;
}
#boton{
    margin-top:20px;
}